body {
  font-family: Arial;
}

.container {
  display: grid;
  grid-template: repeat(4, 100px) / repeat(3, 1fr);
  grid-gap: 10px;
}

.item {
  border: 2px solid orange;
  border-radius: 5px;
}

.item:nth-child(even) {
  background: #CCC
}

.item:nth-child(odd) {
  background: #FFF
}
